<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <ul>
        <template v-for="(cor, i) in cores">
            <h1>{{ cor }}</h1>  
            <p>{{i}}</p>
        </template>
    </ul>

    <ul>
        <li v-for="pessoa in pessoas">
            Nome: {{pessoa.nome}}, Idade:{{pessoa.idade}}, Peso:{{pessoa.peso}}
        </li>
    </ul>

</div>


<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['Vermelho', 'Amarelo', 'Azul', 'Branco'],
            pessoas: [{
                nome: 'Danielson',
                idade: 18,
                peso: 68
            }, {
                nome: 'Paulo',
                idade: 15,
                peso: 45
            }, {
                nome: 'João',
                idade: 25,
                peso: 85
            }]
        }

    })
</script>